
@{
    ViewBag.Title = "Analyze";
}

<div class="container-fluid py-5 mt-5">
    <div class="container bg-white shadow  pt-3 mt-5 pb-3 rounded-3 mb-5">
        <h1 class="display-4 text-center">Upload your picture</h1>
        <div class="row py-4 align-items-center">
            <div class="col-lg-6 mx-auto">
                <form class="needs-validation" method="post" action="@Url.Action("Predict", "Analyze")" enctype="multipart/form-data" novalidate>
                    <!-- Upload image input-->
                    <div class="mb-4">
                        <label for="image" class="form-label">Image</label>
                        <input type="file" class="form-control" id="image" name="image" accept="image/*" required>
                        <div class="invalid-feedback" id="passwordFeedback">
                            Please input image
                        </div>
                    </div>
                    <!-- Uploaded image area-->
                    <div class="mb-4">
                        <img src="" class="d-none" alt="Image preview" id="imagePreview" style="max-width: 100%; max-height: 360px;">
                    </div>
                    <p class="font-italic text-dark text-center">
                        Image preview to analyze
                    </p>
                    <button type="submit" class="btn btn-success" >Analyze →</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            var forms = $(".needs-validation");

            if ("@TempData["Errors"]" != "") {
                new Toast({
                    message: "@TempData["Errors"]",
                    type: "danger"
                });
            }
            else if ("@TempData["Success"]" != "") {
                new Toast({
                    message: "@TempData["Success"]",
                    type: "success"
                });
            }

            $.each(forms, function (_, form) {
                $(form).on("submit", function (event) {
                    if (!form.checkValidity() && $("#image")[0] == null) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    $(form).addClass("was-validated");
                });
            });

            $("#image").change(function () {
                var file = this.files[0];
                var reader = new FileReader();

                if (file == undefined) {
                    $("#imagePreview").addClass("d-none");
                    $("#imagePreview").attr("src", "");
                    return;
                }
                else {
                    if (!file.type.match("image.*")) {
                        $("#imagePreview").addClass("d-none");
                        $("#imagePreview").attr("src", "");
                        return;
                    }
                }

                reader.onload = (function (image) {
                    return function (e) {
                        $("#imagePreview").attr("src", e.target.result);
                        $("#imagePreview").removeClass("d-none");
                    };
                })(file);

                reader.readAsDataURL(file);
            });
        });
    </script>
} 